{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Words & Keys</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>

<body>
    <!-- second section start -->
    <section class="section">
        <div class="container">
                <p style="text-align:left;"><img src="{% static 'wordandkeys.jpg' %}" alt="wordandkeys.jpg" width="150px"></p>
                <br><br>
            <div class="columns">
                <!-- first column -->
                <div class="column is-narrow">
                    <div class="box" style="width: 900px;">
                        <!-- blog text -->
                        <div class="field">
                            <label class="label">Text</label>
                            <div class="control">
                                <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                    <textarea class="textarea" placeholder="Write your text here.." rows="10" name="blog"></textarea>
                            </div>
                        </div>

                        <!-- file upload -->
                        <!-- <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %} -->
                            <input type="file" name="document">

                            <hr>
                            <!-- submit -->
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-link" type="submit">Submit</button>
                                </div>
                                <div class="control">
                                    <!-- <button class="button is-link is-light">Cancel</button> -->
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <!-- first column end -->



                <!-- second column -->
                <div class="column">
                    <div class="box">
                        <p class="title is-4">Wordart</p>
                        <hr>
                        <figure class="image is-4by3">
                                
                            {% if wordart %}
                                <img src="{% static 'wordart.png' %}" alt="wordart">
                            {% elif not data %}
                                <img src="https://bulma.io/images/placeholders/256x256.png">
                            {% endif %}
                        </figure>
                    </div>
                    <div class="box">
                        <p class="title is-4">Keywords</p>
                        <hr>
                        <div class="tags">
                            {% if keywords %}
                                {% for keyword in keywords %}
                                <span class="tag is-danger is-light">{{ keyword }}</span>
                                {% endfor %}
                            {% elif not keywords %}
                            <p>Keyword tags will be generated here!</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- second section end -->
</body>

</html>